body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF5F7;
}



 /* //////////////////////////  HOME PAGE DESIGN  ///////////////////////////////  */

/* NAVIGATION DESIGN */
 .navbar {
  background-color: #FDD1DE;
  height: 117px;
  display: flex;
  align-items: center; /* vertical centering */
}

.navbar-item img {
  max-height: none; /* Remove Bulma restriction */
}
.navbar-item {
    color: #E15B7E;  /* Setting text color */
}

.logo {
  width: 100%;
  height: 117px;      /* keep proportions */
  object-fit: contain;
}
#contactbtn{
    background-color:#E15B7E;
    color: #FDD1DE;
    border-radius: 30px;
  
}

/* IMG & BANNER  DESIGN */
.hero {
  background-image: url('../res/banner-img.png'); /* fix space issue */
  background-size: cover;
  background-position: center;
  height: 550px;

  display: flex;
  align-items: center;      /* vertical */
  justify-content: center;  /* horizontal */
  text-align: center;       /* centers text */
}

.hero-content .title,
.hero-content .subtitle {
  color: #FDD1DE;
  text-align: center;
}

#headertitle{
    font-size: 7rem;
}

/* #homesubtitle{

} */

/* SERVICE SECTION & IMG  DESIGN */

.servicestitle {
    margin-top: 12px;
    font-size: 60px;
    font-weight: 700;
    color: #E15B7E;
    margin-bottom: 40px;
}

.service-card img {
  width: 260px;
  height: 326px;
  object-fit: contain; /* IMPORTANT: no cropping */
  display: block;
  margin: 0 auto;
}

/* Title styling */
.service-title {
  margin-top: 12px;
  font-size: 25px;
  font-weight: 700;
  color: #E15B7E;
}

/* EVENTS & IMG  DESIGN */
.private-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}









/* //////////////////////////  ABOUT PAGE DESIGN  ///////////////////////////////  */